name: Playwright Automation Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to test"
        required: true
        default: "STG"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout automation repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./playw
        run: npm install

      - name: Install Playwright browsers
        working-directory: ./playw
        run: npx playwright install --with-deps

      - name: Run Playwright tests (non blocking)
        working-directory: ./playw
        continue-on-error: true
        run: TEST_ENV=${{ github.event.inputs.environment }} npx playwright test
